@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

:root {
    --color-text: #fff;
    --color-background: #000;
}

body {
    color: var(--color-text);
    background: var(--color-background);
    font-family: Montserrat, sans-serif;
}

#app {
    max-width: 800px;
    margin: 0 auto;
}
