@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

:root {
    --color-primary: #004d00;
    --color-body-background: #0d1117;
    --color-app-background: #010409;
    --color-text: #f0f6fc;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    background: var(--color-body-background);
    font-family: Montserrat, sans-serif;
}

#app {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    background: var(--color-app-background);
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
}

button:hover {
    filter: brightness(150%);
}
